{% extends "telemedicine/base.html" %}
{% block content %}
    <style>
    </style>
    <h1>Our Mission Statement:</h1>
    <body>
        Our mission is to provide exceptional consultations and healthcare that is both punctual and reliable.<br />
        Our family was created in 2021 during a time that remote consultation was a neccesity. <br /><a name="services"></a>
        We offer this service through powerful video call software and a wonderful team of professionals.<br />
        <br /><br /><br />
        <h3>Offered Services:</h3>
        <ul>
            <li>Reliable unlimited video calling</li>
            <li>Doctor Patient File Sharing</li>
            <li>Appointment Patient Requests</li>
            <a name="practice"></a>
            <li>Excellent Healthcare provided by experts in their fields.</li>
        </ul>
        <br /><br /><br />
        <h3>Our Practices:</h3>
        <ul>
            <li>Cardiology</li>
            <li>Oncology</li>
            <li>Gastroenterology</li>
            <li>Pulmonology</li>
            <li>Endocrinology</li>
            <li>Dermatology</li>
            <a name="terms"></a>
            <li>Psychology</li>
        </ul>
        <br /><br /><br />
        <h3>Terms of Service:</h3>
        <div style="height: 520px; width: 1040px; border: 5px solid #ccc; font: 16px/26px Georgia, Garamond, Serif; overflow: auto;
            padding-top: 10px; padding-bottom: 10px; padding-right: 10px; padding-left: 10px;">
            <br />
            <h4><u>WEBSITE TERMS AND CONDITIONS</u></h4><br /><br />
            <u>Introduction</u><br /><br />
            This website is owned and operated by Owl Medical Center (we​, us​, our​).  The following terms and conditions (
            Terms​) govern your use of the website and by accessing the website, you agree to accept and be bound by
            the Terms in full.<br /><br />
            <u>Website content and access</u><br /><br />
            While we take all reasonable care in preparing, maintaining and updating the information on this website, we
            do not represent or warrant (either express or implied) the accuracy, reliability or completeness of any of the
            website content.  You acknowledge and accept that the website content may include errors.  The website
            content is subject to change at our sole discretion without notice to you, and may not be up to date or
            accurate at the time you access it.<br /><br />

            It is your responsibility to enquire with us directly to ensure the adequacy, accuracy and currency of the
            material or information you seek to rely upon.  To the extent permitted by law, we disclaim all liability
            (including special, indirect or consequential loss) for loss directly or indirectly arising from your use of, or
            reliance on, the website or the website content.<br /><br />

            We provide no guarantee that access to the website will be available or that the website is free from viruses
            or anything else which may damage any computer which accesses the website or any data on such a
            computer.  We may from time to time restrict access to any part or whole of the website and its discretion.
            By using this website, you agree to do so at your sole risk.<br /><br />

            <u>Intellectual property</u><br /><br />
            The materials displayed on this website, including without limitation all editorial materials, information,
            photographs, illustrations, artwork and other graphic materials, and names, logos and trademarks, are solely
            our property and may be protected, at our sole discretion, by copyright, trade mark and other intellectual
            property laws.  Any such content may be displayed and printed solely for your personal, non­commercial
            use, provided that any copyright notice on such a display or page is not removed.  You agree not to
            reproduce, retransmit, distribute, disseminate, sell, publish, broadcast or circulate any such material to any
            third party without our express prior written consent.<br /><br />

            Save for the above, and unless expressly granted, we do not grant any licence or  right in, or assign all or
            part of, its intellectual property  rights in the content or applications incorporated into this website or in the
            user interface of this website.<br /><br />

            <u>Privacy</u><br /><br />
            We are committed to the privacy of its customers.  Use of this website, registration data and other
            information about you are subject to our Privacy Policy<br /><br />
            <u>Third party websites</u><br /><br />

            This website may contain links to other websites operated, controlled or produced by third parties.  Unless
            otherwise indicated, we do not control, endorse, sponsor or approve any such third party websites or their
            content, nor do we provide any warranty or take any responsibility whatsoever for any aspect of those
            websites or their content.<br /><br />

            <u>Interference with website</u><br /><br />
            You must not attempt to change, add to, remove, collect data, deface, hack or otherwise interfere with the
            website or the website content.<br /><br />

            You must not use this website to copy, store, host, transmit, send, use, publish or distribute any material
            which consists of (or is linked to) any computer virus or other malicious computer software.<br /><br />
            <u>Breaches of these terms and conditions</u><br /><br />

            Without prejudice to our other rights under these terms and conditions, if you breach these terms and
            conditions in any way, we may take such action as we deem appropriate to deal with the breach, including
            suspending your access to the website, prohibiting you from accessing the website, blocking computers
            using your IP address from accessing the website, contacting your internet service provider to request that
            they block your access to the website and/or bringing court proceedings against you.<br /><br />
            If you are in breach of the Terms, you hereby indemnify us against any loss, damages, costs, liabilities and
            expenses (including but not limited to legal expenses) suffered by us as a consequence of any potential or
            actual breach by you.<br /><br />

            <u>Variation</u><br /><br />
            We may revise these terms and conditions from time to time at its sole discretion.  Revised terms and
            conditions will apply to the use of this website from the date of the publication of the revised terms and
            conditions on this website.  Please check this page regularly to ensure you are familiar with the current
            version.<br /><br />

            <u>Severability</u><br /><br />
            Any provision of the Terms which is void, unenforceable or illegal in a jurisdiction is deemed to be severed
            as to that jurisdiction but only to the extent that it is void, unenforceable or illegal and will not affect the effect
            of the remaining provisions nor affect the validity or enforceability of that provision in any other jurisdiction.<br /><br />
        </div>
        <a name="privacy"></a>
        <br /><br /><br />
        <h3>Privacy Policy Statement:</h3>
        <div style="height:520px;width:1040px;border:5px solid #ccc;font:16px/26px Georgia, Garamond, Serif;overflow:auto;
            padding-top: 10px; padding-bottom: 10px; padding-right: 10px; padding-left: 10px;">
            <br />
            <h4><u>Privacy Policy of Owl Medical Center:</u></h4> <br /><br />
            Company Name operates the Website Name website, which provides the SERVICE.<br />

            This page is used to inform website visitors regarding our policies with the collection, use, and disclosure of Personal Information if anyone decided to use our Service, the Website Name website.<br /><br />

            If you choose to use our Service, then you agree to the collection and use of information in relation with this policy. The Personal Information that we collect are used for providing and improving the Service. We will not use or share your information with anyone except as described in this Privacy Policy.<br /><br />

            The terms used in this Privacy Policy have the same meanings as in our Terms and Conditions, which is accessible at Website URL, unless otherwise defined in this Privacy Policy.<br /><br />

            <u>Information Collection and Use</u><br /><br />
            For a better experience while using our Service, we may require you to provide us with certain personally identifiable information, including but not limited to your name, phone number, and postal address. The information that we collect will be used to contact or identify you.<br /><br />

            <u>Log Data</u><br /><br />
            We want to inform you that whenever you visit our Service, we collect information that your browser sends to us that is called Log Data. This Log Data may include information such as your computer's Internet Protocol (“IP”) address, browser version, pages of our Service that you visit, the time and date of your visit, the time spent on those pages, and other statistics.<br /><br />

            <u>Cookies</u><br /><br />
            Cookies are files with small amount of data that is commonly used an anonymous unique identifier. These are sent to your browser from the website that you visit and are stored on your computer's hard drive.<br /><br />

            Our website uses these “cookies” to collection information and to improve our Service. You have the option to either accept or refuse these cookies, and know when a cookie is being sent to your computer. If you choose to refuse our cookies, you may not be able to use some portions of our Service.<br />

            <u>Service Providers</u><br /><br />
            We may employ third-party companies and individuals due to the following reasons:<br /><br />
            <ul>
                <li>To facilitate our Service;</li>
                <li> provide the Service on our behalf;</li>
                <li> perform Service-related services; or</li>
                <li> assist us in analyzing how our Service is used.</li>
            </ul>
            <br />
            We want to inform our Service users that these third parties have access to your Personal Information. The reason is to perform the tasks assigned to them on our behalf. However, they are obligated not to disclose or use the information for any other purpose.<br /><br />

            <u>Security</u><br /><br />
            We value your trust in providing us your Personal Information, thus we are striving to use commercially acceptable means of protecting it. But remember that no method of transmission over the internet, or method of electronic storage is 100% secure and reliable, and we cannot guarantee its absolute security.<br /><br />

            <u>Links to Other Sites</u><br /><br />
            Our Service may contain links to other sites. If you click on a third-party link, you will be directed to that site. Note that these external sites are not operated by us. Therefore, we strongly advise you to review the Privacy Policy of these websites. We have no control over, and assume no responsibility for the content, privacy policies, or practices of any third-party sites or services.<br /><br />

            <u>Changes to This Privacy Policy</u><br /><br />
            We may update our Privacy Policy from time to time. Thus, we advise you to review this page periodically for any changes. We will notify you of any changes by posting the new Privacy Policy on this page. These changes are effective immediately, after they are posted on this page.<br /><br />

            <u>Contact Us</u><br /><br />
            If you have any questions or suggestions about our Privacy Policy, do not hesitate to contact us.<br /><br />
        </div>
        <br /><br /><br /><br /><br />
    </body>
{% endblock content %}

