{% extends "telemedicine/base.html" %}
{% block content %}
{% load static %}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="website/templates/prime.css" rel="stylesheet">
    <title>Request Sent</title>
</head>

<body>


<div class="main">

    <br><br>

    <h2>The information you provided for booking your appointment was received </h2>
    <b>
        <p>Your First Name is: {{ fname}}</p>
        <p>Your Last Name is: {{ lname}}</p>
        <p>Your email is: {{ email}}</p>
        <p>Date and Time requested: {{ aptdatetime }}</p>

    </b>

</div>

</body>
</html>
{% endblock content %}
