{% extends "telemedicine/base.html" %}
{% block content %}

<style>
    body {
        background-image: url('https://i.ibb.co/L0Gk9R8/What-you-need-to-know-about-going-to-the-doctors-office-during-the-COVID-19-pandemic.jpg');
        background-repeat: no-repeat;
        background-position: center fixed;
        background-size: cover;
    }

    .footer1 {
        position: fixed;
        display: flex;
        flex-direction: row;
        align-self: auto;
        gap: 10px;
        left: 10px;
        bottom: 0;
        width: 400px;
        height: 150px;
        text-align: left;
    }

    .footer2 {
        position:fixed;
        display: flex;
        flex-direction: row;
        align-self: auto;
        gap: 10px;
        bottom: 0;
        right: 0;
        width: 310px;
        height: 100px;
        text-align: left;
    }

</style>
<body>

    <div class="footer1">
        <h3>Our Office</h3>
        <p>
            A108 Adam Street <br>
            NY 535022, USA<br><br>
            <strong>Support Phone:</strong> (555) 555 5555<br>
            <strong>Phone:</strong> (555) 555 5555<br>
            <strong>Email:</strong> info@example.com<br>
        </p>
    </div>

    <div class="footer2">
        <h4>Useful Links</h4>
        <ul>
            <li><a href="about/#services">Our Services</a></li>
            <li><a href="about/#practice">Practices</a></li>
            <li><a href="about/#terms">Terms of Service</a></li>
            <li><a href="about/#privacy">Privacy Policy</a></li>
        </ul>
    </div>
</body>

{% endblock content %}

